@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.scss';

@layer base {
  body {
    @apply font-body;
  }

  a {
    @apply underline;
  }
}

.max-h-90-screen {
  max-height: 90vh;
}

.app-store-button {
  max-width: 8rem;
}

@screen sm {
  .app-store-button {
    max-width: 10rem;
  }
}
