@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.scss';

@layer base {
  body {
    @apply font-body;
    @apply text-2xl;
  }

  a {
    @apply underline;
  }
}

.max-h-90-screen {
  max-height: 90vh;
}

html,
body {
  background-color: #f7efda;
}

.app-store-button {
  max-width: 8rem;
}

@screen sm {
  body {
    background-image: url('/images/landing-page-background.jpg');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 40%;
  }

  .app-store-button {
    max-width: 10rem;
  }
}
